body {
    background-color: rgb(46, 45, 45);
}

.prateleira {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.tipo-cafe {
    color: rgb(245, 234, 219);
    text-align: center;
    margin: 5%;
}

.tamanho-card {
    width: 15rem;
}

.texto-produto {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.imagem-produto {
    max-width: 50%;
    margin: auto;
}

.botao-comprar {
    display: flex;
    justify-content: center;
    text-align: center;
}