html {
    width: 100%;
    height: 100%;
}

body{
    background-image: url('../src/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#IdImagem{
    max-width: 150px;
}
.blur {
    width: 100%;
    height: 100%;
}