body{
    background-image: url('../src/fundo.jpg');
    background-size: cover;
}



#cabec{
    background-color:  #47251B !important;;
}

#footer{
    bottom: 5px;
}


#footer{
    background-color: transparent  !important;
}



#linhas-main{
    display: inline;
    width: 80%;
}

#main {
    display: flex; /* Pode ser flex ou grid, dependendo do layout desejado */
    height: 100vh; /* Altura da tela */
   
}


#linhas-main {
    display: inline-block; /* Flexbox para centralizar o conteúdo */
    
}



#divSecoes {
    display: inline-block; /* Ajusta-se ao tamanho do conteúdo (imagem) */
    border: 1px solid #ccc; /* Borda opcional para visualização */
}

/* Estilo da imagem */
.divSecoes img {
    display: block; /* Remove espaçamento extra abaixo da imagem */
    max-width: 100%; /* Garante que a imagem não exceda a largura da div pai */
    height: auto; /* Mantém a proporção da imagem */
}