body{
    background-image: url('../src/fundo.jpg');
    background-size: cover;
}



#cabec{
    background-color:  rgb(121, 77, 41) !important;;
}

#footer{
    bottom: 5px;
}


#footer{
    background-color: transparent  !important;
}


/* 
#linhas-main{
    display: inline;
    width: 80%;
}

#main {
    display: flex; 
    height: 100vh; 
   
}


#linhas-main {
    display: inline-block; 
    
}



#divSecoes {
    display: block; 
    width: 100%;
    height: auto;
    border: 1px solid #ccc; 
}

.divSecoes img {
    display: block; 
    max-width: 100%; 
    height: auto; 
} 
*/
.divSecoes {
    display: flex;
    flex-direction: column; /* Alinha itens verticalmente */
    justify-content: center; /* Centraliza itens verticalmente */
    align-items: center; /* Centraliza itens horizontalmente */
    height: 100%; /* Faz com que a div ocupe toda a altura da coluna */
    text-align: center; /* Alinha o texto ao centro */
}

.divSecoes img {
    width: 100%; /* Ajusta a imagem para preencher a largura da div pai */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 100%; /* Garante que a imagem não exceda a largura da div pai */
    display: block; /* Remove o espaçamento extra abaixo da imagem */
} 

.texto-cafe {
    background-color:  rgb(121, 77, 41);
    color:white;
}

.cafearabica {
    width: 100%;;
    height: 400px;
}

.carousel-caption {
    padding-top: 10px;
}

.logo {
    width: 100px;
    height: 85px;
}

.navbar {
    background-color: #e8e0d0;
}

.slide {
    margin-left: 74px;
    width: 90%;
    height: 70%;
}

.carousel-control-prev {
    width: 100px;
}
.carousel-control-next {
    width: 100px;
}

.slidescarrosel {

}
.titulocafe {
    height: 2200px;
}
.textocafes {
    height: 60px;
}