body {
    background-image: url('src/fundoCadastro.png');
    background-size:cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    display: grid;
}

:root {
    --button_color: rgb(121, 77, 41);
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(2px);
}

.card {
    place-self: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-;
    width: 50vw;
    height: 70vh;
    border-radius: 1.2vi;
    z-index: 1;
    box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.639);
    transition: ease-in-out 0.5s;
}

.top-side-login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left:-6vw;
    a {
        background-color:var(--button_color) ;
        text-decoration: none;
        width: 3.5vi;
        height: 3.5vi;
        display: grid;
        border-radius: 0.5rem;
        margin-top: 2vh;
        margin-bottom: 15vh;
        img {
            width: 80%;
            height: 80%;
            place-self: center;
        }
    }
    h1 {
        margin-left: -2vw;
    }
}

h1 {
    font-family:"Merriweather", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 4vi;
}

.login-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
    transition: ease-in-out 0.5s;
}

.login-side form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    width: 100%;
    padding-bottom: 30px;
    .email-input, .senha-input {
        font-size: 1vi;
        width: 16vi;
        height: 2vi;
        outline: none;
        border: none;
        background-color: rgba(164, 164, 164, 0.276);
        border-radius: 3px;
    }
    .senha-input{
        margin-left: 2vi;
    }
}

.email-login{
    display: flex;
    flex-direction: column;
}

.senha-login {
    display:inline-flex;
    padding-bottom: 2vi;
}

#mostrarSenha {
    display: none;
}

.label-mostrar {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2vi;
    height: 2vi;
}

span {
    display: inline-block;
    width: 2vi;
    height: 2vi;
    margin-top:0.5vi;
    margin-left: -4.1vi;
    img {
        width: 100%;
        height: 100%;
    }
}

.btn-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
        cursor: pointer;
        width: 7vi;
        height: 2.5vi;
        font-size: 1.5vi;
        outline: none;
        background-color:var(--button_color);
        border:none;
        color: white;
        border-radius: 0.5rem;
    }

    button:hover {
        transform: scale(1.08);
        animation: ease-out 0.5s;
    }
    
    button:active {
        background-color: rgb(116, 75, 41);
        transform: scale(0.9);
        animation: ease-out 0.2s;
    }
}

a{
    font-size: 1vi;
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
    color:rgb(105, 66, 35);
}

.cadastro-side {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    transition:ease-in-out 0.5s;
    h1 {
        font-size: 3.5vi;
        margin:  0 0 1rem 0 ;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:1vi;
        width: 100%;
        height: 100%;
        margin-bottom: 1rem;
        .nome-input, .email-input, .senha-input, .confirmar-senha-input {
            padding: 0 5px 0 5px;
            font-size: 1vi;
            width: 16vi;
            height: 2vi;
            outline: none;
            border: none;
            background-color: rgba(164, 164, 164, 0.276);
            border-radius: 3px;
        }
    }
}

.top-side-cadastro {
    margin-top: 3vh;
    a {
        background-color:var(--button_color) ;
        text-decoration: none;
        width: 3vi;
        height: 3vi;
        display: grid;
        border-radius: 0.5rem;
        margin-left: -4vw;
        img {
            width: 80%;
            height: 80%;
            place-self: center;
        }
    }
}

.nome-cadsatro,.email-cadsatro,.senha-cadsatro,.confirmar-senha-cadsatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -0.5rem;
}

.confirmar-senha-cadsatro {
    margin-top: -1rem;
}

.requisitos-senha, .compare-senha {
    width: 16vi;
    label{
        font-size: 1vi;
        line-height: 1px;
    }
}

#checkbox {
    width: 1.5vi;
    height: 1.5vi;
    cursor: pointer;
    box-sizing: border-box;
}


.mostrar-senha {
    display: flex;
    width: 17vi;
    align-items: center;
    font-family:"Merriweather", sans-serif;
    font-size: 0.8vi;

}

.btn-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    button {
        cursor: pointer;
        width: 7vi;
        height: 2.5vi;
        font-size: 1.3vi;
        outline: none;
        background-color:var(--button_color);
        border:none;
        color: white;
        border-radius: 0.5rem;
    }

    button:hover {
        transform: scale(1.08);
        animation: ease-out 0.5s;
    }
    
    button:active {
        background-color: rgb(116, 75, 41);
        transform: scale(0.9);
        animation: ease-out 0.2s;
    }
}

aside {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 66, 35);
    flex-direction: column;
    border-bottom-right-radius: 1vi;
    border-top-right-radius: 1vi;

    img {
        height: 45vh;
        width: 20vw;
        filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.671));
    }
}
