html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--marrom);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Merriweather, sans-serif;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none ; 
    margin: 0;
}


:root {
    --intermediario: rgba(210, 179, 147, 0.837);
    --cremeescuro: rgb(225, 211, 185);
    --creme:       rgb(232, 224, 209);
    --marrom:      rgb(121, 77, 41);
    --marromclaro: rgb(142, 86, 40);
}


.left-side {
    background-color:var(--creme) ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1vi;
    width: 18vi;
    box-shadow: 3px 0px rgba(0, 0, 0, 0.213); ;

    img {
        width: 18vi;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    a {
        font-size: 1.5vi;
        color:var(--marrom);
        text-decoration: none;
        width: 100%;
        text-align: center;
        border-top: 0.1vi  solid var(--bege-escuro);
        border-bottom: 0.1vi  solid var(--bege-escuro);
    }

    a:hover {
        background-color:rgb(142, 91, 49) ;
        color:var(--creme);
    }
    a:active {
        transform: scale(0.9);
        width: 111%;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vi;
    width: 100%;
    height: 100%;

    .upper-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 10%;

            h1 {
                font-size: 2.5vi;
                font-family: Merriweather, sans-serif;    
                color: var(--creme);
                margin: 0 0 0 1.5vi;

            }
            p {
                color: var(--creme);
                margin:0;
                padding:1vi 0 0 1vi;
                font-size: 1.2vi;
            }
        }

    .middle-side {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.196);
        border-radius: 0.5vi;
        height: 3vi;
        background-color: var(--cremeescuro);

        .search-bar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 2vi;
            width: 25%;
            border-radius: 0.5vi;
            box-shadow: 1px 1px 1px 1px rgba(142, 86, 40, 0.413);
            background-color:var(--creme) ;
            input {
                border: none;
                background-color: transparent;
                outline: none;
                width: 80%;
            }
        }
        .select{
            background-color: var(--creme);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 6vi;
            height: 1.5vi;
            outline: none;
            border: none;
            border-radius: 1vi;
            font-size: 1vi;
            
            p {
                position: relative;
                margin: 0;
                height: 100%;
                align-self: center;
            }
            .ecommerce,.fisico{
                display: none;
            }
        }
        .select:hover{
            cursor:pointer;
            transform: scale(1.05);
        }
        .select:active{
            background-color: var(--intermediario);
        }
    }
    .lower-side {
        width: 80%;
        table {
            border-collapse: separate;
            thead {
                background-color: var(--intermediario);
            }
            td{
                text-align: center;
            }
            td,th{
                border: 0.1vi solid var(--marromclaro);
                width: 1%;
            }
            td:first-child,th:first-child{
                width: 0.5%;
            }
        }
    }
}

#prodImagem{
    max-width: 6vi;
    max-height: 6vi;
}


.modal-new {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .fundo {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.189);
        display: flex;
        justify-content: center;
        align-items: start;
        .modal {
            position: relative;
            background-color: var(--creme);
            margin-top: 2.5vi;
            width: 30%;
            height: 55%;
            border-radius: 1vi;
            animation: slidedown 0.3s ease-in-out;
            .modal-header {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.5vi;
                height: 13% ;
                h2 {
                    margin:0;
                }
                button {
                    border: none;
                    background-color: transparent;
                    img {
                        width: 2.5vi;
                        filter: invert(50%);
                    }
                }
                button:hover {
                    cursor: pointer;
                    img {
                        filter: invert(30%);
                    };
                }
            }
        }
    }
}

@keyframes slideup {
    0% {
        bottom: 0vi;
    }
    50% {
        bottom: 50vi;
    }
    100% {
        bottom:100vi ;
    }
}

@keyframes slidedown {
    0% {
        bottom:100vi ;
    }
    50% {
        bottom: 50vi;
    }
    100% {
        bottom: 0vi;
    }
}