html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--marrom);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Merriweather, sans-serif;
}

:root {
    --creme:      rgb(232, 224, 209);
    --marrom:      rgb(121, 77, 41);
}

.left-side {
    background-color:var(--creme) ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1vi;
    width: 18vi;
    box-shadow: 3px 0px rgba(0, 0, 0, 0.213); ;

    img {
        width: 18vi;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    a {
        font-size: 1.5vi;
        color:var(--marrom);
        text-decoration: none;
        width: 100%;
        text-align: center;
        border-top: 0.1vi  solid var(--bege-escuro);
        border-bottom: 0.1vi  solid var(--bege-escuro);
    }

    a:hover {
        background-color:rgb(142, 91, 49) ;
        color:var(--creme);
    }
    a:active {
        transform: scale(0.9);
        width: 111%;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vi;
    width: 100%;
    height: 100%;

    .upper-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 10%;

            h1 {
                font-size: 2.5vi;
                font-family: Merriweather, sans-serif;    
                color: var(--creme);
                margin: 0 0 0 1.5vi;

            }
            p {
                margin:0;
                font-size: 1.2vi;
            }
        }
}